$lightGray: #f8f8f8;
$medGray: #999;
$darkGray: #807f7f;
$darkestGray: #191919;
$pink: #ff00b7;
$darkPurple: #36264f;
$purple: #4c2eff;
$blue: #1d17ff;
$lightBlue: #0af;

/*New Colors*/
$green: #00ffce;
$purple: #6b47de;
$darkblue: #001981;
$lighterblue: #045afa;
$gray: #202020;

$success: #00FF00;
$error: #ff0000;